header{
    background: #bbbbbb;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li{
    position: relative;
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}